<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    
    
    <h:head>
        <title>toolbar</title>
    </h:head>
    
    <h:body>
        <ui:composition>
            <h:form>
                <p:toolbar>
                    <p:toolbarGroup align="right">
                        <p:commandButton ajax="false" icon="ui-icon-power" action="#{loginBean.logout}" />
                    </p:toolbarGroup>
                    
                    <p:toolbarGroup align="left">
                        <p:commandButton ajax="false" value="Contacts" icon="ui-icon-contact" action="#{navigatorBean.contacts}"/>
                    </p:toolbarGroup>
                </p:toolbar>
            </h:form>
        </ui:composition>    
    </h:body>

</html>
