<?xml version="1.0" encoding="UTF-8"?>


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:head>
        <title>contacts xhtml file</title>
    </h:head>
    <h:body>
       <!-- <h:outputLink value="#{request.contextPath}/j_spring_security_logout">Logout</h:outputLink> -->  
        <div>
            <ui:insert name="header" >
                <ui:include src="/pages/common/templates/commonHeader.xhtml" />
            </ui:insert>
        </div>
        <h:form id ="bubble" life="30000">
            <p:dialog></p:dialog> <!-- pf3.5 bug ugly-hack-->
            <p:growl id="messages" showDetail="true"/>
        </h:form>
        <h:form id="contactTableForm">
        <p:dataTable id="contactTable" var="contact" value="#{contactManagedBean.contactList}"
                     rowKey="#{contact.id}" editMode="cell" editable="true"
                     selection="#{contactManagedBean.selectedContact}" selectionMode="single">            
            <p:ajax event="rowSelect" listener="#{contactManagedBean.onRowSelect}"/>
            <p:ajax event="cellEdit" listener="#{contactManagedBean.onCellEdit}" update=":bubble:messages" />
            <f:facet name="header">
                Contacts
            </f:facet>
            
            <p:column headerText="Name">
                <p:cellEditor> 
                    <f:facet name="output"><h:outputText value="#{contact.firstName}"/></f:facet>
                    <f:facet name="input"><p:inputText value="#{contact.firstName}"/></f:facet>
                </p:cellEditor>
            </p:column>

            <p:column headerText="Last Name">
                    #{contact.lastName}    
            </p:column>
            
            <p:column headerText="telephone">
                
                    #{contact.telephone}
            </p:column>

            <p:column headerText="email">
                    #{contact.email}
            </p:column>
            

            <f:facet name="footer">  
            <p:commandButton id="deleteButton" icon="ui-icon-circle-close"  
                     update="contactTable" actionListener="#{contactManagedBean.delete}"/>  
            <p:commandButton id="createContact" icon="ui-icon-circle-plus"
                             update="contactTable" oncomplete="contactCreatorDialog.show()"/>
            </f:facet>
            
        </p:dataTable>
        </h:form>
        
        <p:dialog id="dialog" header="Create contact" appendToBody="true" widgetVar="contactCreatorDialog" resizable="false"  
              width="250" showEffect="clip" hideEffect="explode">
            <h:form>
                <h:panelGrid id="contactCreatorPanel" columns="2" cellpadding="2">
                    
                    <h:outputLabel for="firstName" value="First name:" />
                    <p:inputText value="#{contactManagedBean.firstName}"   
                     required="true" label="firstName" />
                    
                    <h:outputLabel for="lastName" value="Last name:" />
                    <p:inputText value="#{contactManagedBean.lastName}"   
                     required="true" label="lastName" />
                    
                    <h:outputLabel for="email" value="E-Mail:" />
                    <p:inputText value="#{contactManagedBean.email}"   
                     required="true" label="email" />
                    
                    <h:outputLabel for="telephone" value="Telephone:" />
                    <p:inputText value="#{contactManagedBean.telephone}"   
                     required="true" label="telephone" />
                    
                    <f:facet name="footer">  
                        <p:commandButton id="createContactFinish" 
                            icon="ui-icon-circle-check" update=":contactTableForm:contactTable"
                            actionListener="#{contactManagedBean.add}"   
                            oncomplete="contactCreatorDialog.hide()"/>  
                    </f:facet>    
                </h:panelGrid>
            </h:form>
        </p:dialog>

    </h:body>
</html>
