<?xml version="1.0" encoding="UTF-8"?>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>login form</title>
    </h:head>
    <h:body>
        <div id="toolbar">
            <ui:insert name="header" >
                <ui:include src="/pages/common/templates/commonHeader.xhtml" />
            </ui:insert>
        </div>
        <h:form id ="bubble" life="30000">            
            <p:growl id="messages" showDetail="true"/>
        </h:form>
        <h:form>
            <h:panelGrid id="loginPanel" columns="2" cellpadding="2">

                <h:outputLabel for="loginName" value="login: " />
                <p:inputText value="#{loginBean.loginName}"   
                             required="true" label="loginName" />

                <h:outputLabel for="password" value="password: " />
                <p:password value="#{loginBean.password}"   
                            required="true" label="password" />

                <f:facet name="footer">  
                    <p:commandButton id="loginButton"
                                     update=":bubble:messages"
                                     value="login"
                                     icon="ui-icon-person"
                                     action="#{loginBean.login}"/>  
                </f:facet>

            </h:panelGrid>
        </h:form>
    </h:body>
</html>